appdirs==1.4.3
autobahn==18.5.1
-e git+https://github.com/technoshantoms/python-bitshares#egg=bitshares
blinker==1.6.2
certifi==2018.4.16
chardet==3.0.4
click==8.1.3
configparser==3.5.0
ecdsa==0.13
Events==0.3
Flask==3.0.0
Flask-Cors==4.0.0
Flask-Mail==0.9.1
Flask-Script==2.0.5
Flask-Session==0.3.1
Flask-SQLAlchemy==3.0.2
-e git+https://github.com/technoshantoms/python-graphenelib#egg=graphenelib
gunicorn==19.8.1
idna==2.6
itsdangerous>=2.1.2
Jinja2==3.1.2
MarkupSafe>=2.1.1
pycryptodome==3.22.0
pycryptodomex==3.22.0
pylibscrypt==1.7.1
PyYAML==5.2
requests==2.30.0
scrypt==0.8.6
six==1.17.0
SQLAlchemy==2.0.43
txaio==2.10.0
urllib3==2.3.0
websocket-client==0.47.0
websockets==4.0.1
Werkzeug>=3.0.0
